.companyContainer {
    /* display:flex;
    flex-direction: column; */
    background-color: lightgray;
}

.body-home{
    background-image: url('../images/companyImage.jpg');
}

.body-about{
    background-image: url('../images/about.jpg');
}

.body-contactUs{
    background-image: url('../images/contactUs.jpg');
}

.body-warehouse{
    background-image: url('../images/warehouse.jpg');
}

.body-form{
    align-items: center;
}
